@font-face {
  font-family: 'Karla';
  src: url('../inc/fonts/Karla.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: url('../inc/fonts/Karla-Italic.ttf') format('truetype');
  font-style: italic;
}
