$background: #1c1b22;
$text: #f7f6f8;
$link_text: #fab462;
$link_text_hover: #fbbd75;
$link_text_active: #fbc688;
$link_visited: #a8a2d0;
$list_marker: #d1d1d1;
$button: #344c4a;
$button_hover: #2e5c58;
$button_text_hover: #fff;
$outline: #89aeab;
