$background: #1c1b22;
$text: #f7f6f8;
$link_text: #00bdad;
$link_text_hover: #00d1bf;
$link_text_active: #00e0cd;
$link_visited: #777be4;
$list_marker: #d1d1d1;
$button: #344c4a;
$button_hover: #2e5c58;
$button_text_hover: #fff;
$outline: #89aeab;
